.why-choose{
    box-shadow: 1px 1px 10px 6px rgba(0, 0, 0, 0.05);
}
.odometer{
    color: #754ffe
}
.bg-height{
    height: 50vh;
}

@media (max-width: 998px) {
    .bg-height{
        height: 100%;
    }
    
}

.service-paragraph{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.534);
    letter-spacing: 1px;
    font-weight:20;
}