@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Condensed', sans-serif;
}
button{
  font-family: 'Acme', sans-serif;
}
a,p,span{
  font-family: 'Acme', sans-serif;
}

body{
  background-color: rgba(0, 0, 0, 0.1);
  transition: .5s;
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.faq .basic h6 {
  font-size: 18px;
  font-weight: 600;
  color: #4154f1;
}
.faq .basic p {
  color: #6980aa;
}
.bg-height{
  height: 50vh;
}

@media (max-width: 998px) {
  .bg-height{
      height: 100%;
  }
  
}

.service-paragraph{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.534);
  letter-spacing: 1px;
  font-weight:20;
}