.single-product{
    height: 400px;
    background-color: rgba(137, 43, 226, 0.141);
    border-radius: 7px;
}

.single-product:hover {
    transition: 1s ease;
    background-color: rgba(137, 43, 226, 0.541);
    color: #fff;
}

.single-product img{
    width: 100%;
    height: 250px;
}